@model IEnumerable<VideoRental.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<p>
    @Html.ActionLink("New Customer", "New", "Customers", null, new { @class = "btn btn-primary" })
</p>

<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
            <th>Delete</th>
        </tr>
        @foreach(var el in Model)
        {
        <tr>
            <td><a asp-action="Edit" asp-route-id=@el.Id>@el.Name</a></td>
           
            <td>@el.MembershipType.Name</td>
            <td><button type="button">Delete</button></td>
        </tr>
        }

    </thead>
    <tbody></tbody>
</table>
}

